@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'SF UI Display Black';
    font-weight: 800;
    src: url('/fonts/sf-ui-display-black.otf') format('opentype');
}

@font-face {
    font-family: 'SF UI Display Bold';
    font-weight: 700;
    src: url('/fonts/sf-ui-display-bold.otf') format('opentype');
}
@font-face {
    font-family: 'SF UI Display Heavy';
    font-weight: 900;
    src: url('/fonts/sf-ui-display-heavy.otf') format('opentype');
}
@font-face {
    font-family: 'SF UI Display Light';
    font-weight: 400;
    src: url('/fonts/sf-ui-display-light.otf') format('opentype');
}
@font-face {
    font-family: 'SF UI Display Medium';
    font-weight: 500;
    src: url('/fonts/sf-ui-display-medium.otf') format('opentype');
}
@font-face {
    font-family: 'SF UI Display Semibold';
    font-weight: 600;
    src: url('/fonts/sf-ui-display-semibold.otf') format('opentype');
}
@font-face {
    font-family: 'SF UI Display Thin';
    font-weight: 200;
    src: url('/fonts/sf-ui-display-thin.otf') format('opentype');
}
@font-face {
    font-family: 'SF UI Display Ultralight';
    font-weight: 300;
    src: url('/fonts/sf-ui-display-ultralight.otf') format('opentype');
}